{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <p><a href="{{ path('index') }}">Викторина</a> /</p>
    <h1>Регистрация</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">Зарегистрироваться!</button>
    {{ form_end(form) }}
{% endblock %}