{% extends "base.html.twig" %}

{% block title %}Викторина{% endblock %}

{% block body %}
    <h1>Викторина!</h1>

    {% if not user %}
        <a href="{{ path('app_login') }}"><b>Войти</b></a> или <a href="{{ path('app_register') }}"><b>Зарегистрироваться</b></a>
    {% else %}
        <p>{{ user.email }} (<a href="{{ path('app_logout') }}">Выйти</a>)</p>
        <p>Бонусные баллы: {{ user.balance }}</p>

        {% if user.prizes is empty %}
            <p><a href="{{ path('prize') }}"><b>Получить приз!</b></a></p>
        {% else %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Приз</th>
                        <th>Кол-во</th>
                        <th>Статус</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prize in user.prizes %}
                        <tr>
                            <td>
                                {% if prize.type == 'money' %}Денежный приз{% endif %}
                                {% if prize.type == 'bonus' %}Бонусные баллы{% endif %}
                                {% if prize.type == 'item' %}
                                    Предмет: <b>{{ prize.item.name }}</b>
                                {% endif %}
                            </td>
                            <td><b>{{ prize.amount }}</b></td>
                            <td>
                                {% if prize.status == 0 %}Ожидает действия{% endif %}
                                {% if prize.status == 1 %}Обработан{% endif %}
                            </td>
                            <td>
                                {% if prize.type == 'money' %}
                                    {% if prize.status == 1 %}
                                        {%  if prize.action == 'convert' %}Конвертировано в баллы лояльности{% endif %}
                                        {%  if prize.action == 'bank' %}
                                            Перечислить на счет в банке
                                            {% if prize.processStatus == 0 %}(<b>Ожидает отправки</b>){% endif %}
                                            {% if prize.processStatus == 1 %}(<b>Отправлено</b>){% endif %}
                                        {% endif %}
                                    {% else %}
                                        {{ form_start(money_form) }}
                                            {{ form_row(money_form.type, {'value': 'money'}) }}
                                            {{ form_row(money_form.prize_id, {'value': prize.id}) }}
                                            {{ form_row(money_form.action) }}
                                            <p><button type="submit" name="form[action]" value="bank">Отправить на счет в банке</button></p>
                                            <p><button type="submit" name="form[action]" value="convert">Конвертировать в баллы лояльности</button></p>
                                        {{ form_end(money_form) }}
                                    {% endif %}
                                {% endif %}
                                {% if prize.type == 'item' %}
                                    {% if prize.status == 1 %}
                                        Доставка по адресу: <b>{{ prize.address }}</b>
                                        {% if prize.processStatus == 0 %}(<b>Ожидает отправки</b>){% endif %}
                                        {% if prize.processStatus == 1 %}(<b>Отправлено</b>){% endif %}
                                    {% else %}
                                        {{ form_start(shipping_form) }}
                                            {{ form_row(shipping_form.type, {'value': 'shipping'}) }}
                                            {{ form_row(shipping_form.prize_id, {'value': prize.id}) }}
                                            {{ form_row(shipping_form.action, {'value': 'shipping'}) }}
                                            <p>Адрес для отправки предмета:</p>
                                            {{ form_row(shipping_form.address) }}
                                            <p> <button type="submit">OK</button></p>
                                        {{ form_end(shipping_form) }}
                                    {% endif %}
                                {% endif %}
                                {% if prize.type == 'bonus' %}
                                    {% if prize.status == 1 %}
                                        Зачислено на счёт лояльности
                                    {% else %}
                                        {{ form_start(money_form) }}
                                            {{ form_row(money_form.type, {'value': 'money'}) }}
                                            {{ form_row(money_form.prize_id, {'value': prize.id}) }}
                                            {{ form_row(money_form.action) }}
                                            <p><button type="submit" name="form[action]" value="bonus">Зачислить на счёт лояльности</button></p>
                                        {{ form_end(money_form) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

{% endblock %}